body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5664dd;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #629ae4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
}

.columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.column {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.upload-container {
    margin-bottom: 20px;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.upload-label:hover {
    background-color: #0056b3;
}

#file-upload-jpg, #file-upload-png {
    display: none;
}

.image-container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 2px dashed #e71212;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 300px;
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#prediction-text-jpg, #prediction-text-png {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
